doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/bootstrap/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(type='text/javascript' src='./scripts/angular/angular.min.js')
    script(type='text/javascript' src='./scripts/angular/app.js')
  body
    block content
